body {
  margin: 0;
}

main {
  display: flex;
  position: relative;
  margin: 20px 50px;
}

button {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 55px;
  font-size: 25px;
  font-style: oblique;
  background-color: aquamarine;
}

header{
  display: flex;
}

h1{
  margin: 0 auto;
  padding: 20px 0;
}

.new-restaurant {
  position: absolute;
  bottom: 0;
  right: 0;
}