<p id="notice"><%= notice %></p>

<h1>Roleta do Almoço</h1>

<main id="content">
  <%= render "restaurant_info"%>
</main>

<br>

<button type="button" id="button">Quero outro!</button>

<%= link_to 'Cadastre um Restaurante', new_restaurant_path %>
