<p id="notice"><%= notice %></p>

<h1>Roleta do Almoço</h1>

<main id="content">
  <%= render "restaurant_info"%>
</main>

<br>

<button type="button" id="button">Another one!</button>

<%= link_to 'New restaurant', new_restaurant_path %>
