<div class="wrapper">
  <div id="overlay">
  <%= image_tag "egg.gif"%> 
  </div> 
  <!--<div id="loader">
    <%= image_tag "chicken-wings.gif" %>
  </div>>-->

  <main>
    <section id="content-section">
      <div id="content-container">
        <%= render "restaurant_info"%>
      </div>
      
      <div class="buttons">
        <button type="button" id="button">Quero outro!</button>

        <%= link_to 'Cadastre um Restaurante', new_restaurant_path, :class => "new-restaurant" %>
      </div>
    </section>

  </main>
</div>