<p id="notice"><%= notice %></p>

<h1>Random Lunch Place</h1>

<table id="content">
  <%# <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  <%= render "restaurant_info"%>
</table>

<br>

<button type="button" id="button">Another one!</button>

<%= link_to 'New restaurant', new_restaurant_path %>
