<!-- <div id="overlay">
 <%= image_tag "egg.gif"%> 
</div> -->

<header>
  <h1>Roleta do Almoço</h1>
</header>

<div id="loader">
  <%= image_tag "chicken-wings.gif" %>
</div>

<main>
  <section id="content-section">
    <div id="content-container">
      <%= render "restaurant_info"%>
    </div>

      <button type="button" id="button">Quero outro!</button>

      <%= link_to 'Cadastre um Restaurante', new_restaurant_path, :class => "new-restaurant" %>
  </section>

</main>
