.form-inputs{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0 65px;
}

.form-inputs input{
  display: block;
  font-size: 15px;
}

.form-inputs textarea{
  display: block;
  height: 100px;
  width: 350px;
  font-size: 18px;
}

.form-inputs select{
  display: block;
  font-size: 15px;
}

.form-actions {
  margin: 20px 65px;
}

.voltar-form{
  margin: 0 30px;
  color: #da4167
}

.title-new-restaurant{
  margin: 0 30px;
  color: #2e4057;
}