// @keyframes walk {
//   0%   { transform: translateX(6px); }
//   30% {transform: translateX(176px);}
//   60%  {transform: translateX(-176px);  }
//   100% { transform: translateX(5px); }
// }

@keyframes spin {
  to {transform: rotateY(360deg);}
}



@-webkit-keyframes spin {
  to {transform: rotateY(360deg);}
}

.lunch-photo{
  animation: spin 4s infinite;
  z-index: 9999;
  display: block;
  margin: 0 auto;
  max-width: 250px;
  max-height: 200px;
}

// .lunch-photo:hover {
//   animation: walk 4s infinite alternate;
// }